* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

nav {
    background-color: #ffffff;
    width: 100%;
    justify-content: space-between;
    min-height: 50px;
}

ul {
    list-style-type: none;
    display: flex;
}

.first-section {
    display: flex;
   flex-direction: column;

    max-width: 70%;
    margin: auto;

    /*Altezza momentanea*/
    min-height: 420px;
}