* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans";
}

nav {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
    position: fixed;
    z-index: 1;
}

input {
    background-color: #0061ff;
    border: none;
    color: white;
    padding: 8px 12px 8px 12px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

a:hover {
    border-bottom: 1px solid grey;
}

header {
    background-color: #b4d0e7;
    margin-bottom: 150px;
}

.first-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    position: relative;
    bottom: -60px;
}

h1 {
    font-size: 80px;
    margin-bottom: 60px;
    margin-top: 80px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 30%;
}

.fa {
    margin-top: 40px;
    font-size: 48px;
}

.jumbo {
    width: 70%;
}

.jumbo img {
    width: 100%;
}

.second-section {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 150px;
}

.second-section h2 {
    font-size: 34px;
    margin-bottom: 80px;
}

#find-your-plan {
    margin-bottom: 45px;
}

#find-your-plan h2 {
    margin-bottom: 60px;
}

#find-your-plan .radio-buttons {
    display: flex;
    gap: 50px;
}

#business {
    margin-bottom: 150px;
}

#business .row  {
    display: flex;
    justify-content: space-between;

    margin-bottom: 52px;
}

#business .row .plan {
    width: calc(100% / 3 - 50px / 3 * 2);
}

#business .plan {

    border: 1px solid #dcdcdd;
}


#business .plan .plan-title {

    padding: .6em;

    border-bottom: solid 1px #dcdcdd;

    text-align: center;
    font-size: .8em;
}

#business .plan .plan-text {
    display: flex;
    flex-direction: column;
    padding: 38px 28px;
}

#business .plan .price {
    display: flex;
    flex-flow: column;
    margin-bottom: 54px;
}

#business .plan .price h3 {
    margin-bottom: 24px;
}

#business .plan .price strong {
    margin-bottom: 1em;
}

#business .plan .price span {
    color: gray;
}

#business .plan .features {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 54px;
}

#business .plan .features .features-row {
    display: flex;
    align-items: flex-start;
    gap: 6px;
}


#business .plan .features .features-row .fa-solid {
    padding-top: 3px;
}


#business .plan .btn {
    margin-bottom: 34px;
    
}


#business .plan p > a {
    color: #0061ff;
}

#business input {
    margin-bottom: 36px;
}

#business .plan .plan-text > p {
    margin-bottom: 40px;
}

#business .plan .plan-text > hr {
    width: 25%;
    margin-bottom: 54px;
}

#business .plan .item h4 {
    margin-bottom: 34px;
}

#business .plan .item .item-row {
    display: flex;
    gap: 6px;
    margin-bottom: 26px;
}

#business .plan .item .item-row .fa-solid {
    padding-top: 4px;
    color: #0061ff;
}

#business .plan.team-plan .plan-text {
    flex-direction: row;
    gap: 64px;
}

#business .plan.team-plan h3 {
    margin-bottom: 18px;
}

#business .plan.team-plan strong {
    display: block;
    margin-bottom: 50px;
}

.third-section {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 170px;
}

.partnership {
    display: flex;
}

.partner-img {
    width: 60%;
    background-image: url(img/partner.png);
    background-size: cover;
    height: 600px;
}

.partner-text {
    width: 40%;
    text-align: start;
    padding: 50px;
}

.partner-text h3 {
    margin-bottom: 20px;
}

.partner-text p {
    margin-bottom: 40px;
}

.partner-text input {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.fourth-section .operation-container .rectangles {
    width: calc(100% / 3 - 50px / 3 * 2);
}

.fourth-section h2 {
    font-size: 34px;
    margin-bottom: 80px;
}

.fourth-section {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 215px;
}

.fourth-section .operation-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.operation-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rectangles img {
    width: 100%;
}

#link {
    color: #0061ff;
    text-decoration: underline;
    
}

#subtitle {
    margin-top: 220px;
    margin-bottom: 70px;
    font-size: 34px;
}

.fifth-section {    
    display: flex;
}   

.fifth-section .square-container {
    display: flex;
    flex-wrap: wrap;
    
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.fifth-section .square {
    position: relative;
    width: 50%;
    height: 50%;
}

.fifth-section .square img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.fifth-section .central-square {
    padding: 48px;
    height: 100%;
    background-color: #f5f5f5;
    overflow-y: auto;
}

.fifth-section .central-square img {
    max-width: 280px;
    margin-bottom: 42px;
}

.fifth-section .central-square hr {
    width: 20%;
    border-style: solid;
    border-color: gray;
    margin-bottom: 40px;
}

.central-square p {
    margin-bottom: 40px;
}

.sixth-section {
    width: 100%;
    background-color: #b4d0e7; 
}

.sixth-section h3 {
    font-size: 34px;
    color: #61082b;
}

.try {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 135px;
    width: 1000px;
    gap: 100px;
}

.seventh-section {
    max-width: 100%;
}

.faq {
    display: flex;
    flex-direction: column;
    margin: auto;
    
    width: 1000px;
    padding: 130px;
    gap: 60px;
}

.faq h2 {
   font-size: 34px;
   float: left;
}

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 90px;
    font-size: 0.7em;
}

.animation {
    display: flex;
    gap: 220px;
}

footer {
    border: 1px solid grey;
    max-width: 100%;
    min-height: 570px;
    background-color: #000000;
}

footer a {
    color: white;
}

footer ul li {
    color: white;
    line-height: 34px;
}

footer ul {
    list-style-type: none;
}

#ul-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 100px;
}

.last-section {
    display: flex;
    justify-content: space-between;
    
    max-width: 1200px;
    min-height: 450px;
    margin: auto;

}

footer hr {
    width: 10%;
    border-style: solid;
    border-color: gray;
    margin-bottom: 40px;
}

.language {
    color: #909899;
    max-width: 1200px;
    min-height: 120px;
    margin: auto;
    
}