* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

nav {
    background-color: #ffffff;
    width: 100%;
    justify-content: space-between;
    min-height: 50px;
}

ul {
    list-style-type: none;
    display: flex;
}

.first-section {
    display: flex;
   flex-direction: column;

    max-width: 1200px;
    margin: auto;

    /*Altezza momentanea*/
    min-height: 740px;
}

.second-section {
    display: flex;
   flex-direction: column;

    max-width: 1000px;
    margin: auto;

    /*Altezza momentanea*/
    min-height: 950px;
}

.column-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;

    /*Altezza momentanea*/
    min-height: 800px;
}

.left-column, .column, .right-column {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
}

.column-title {
    border-bottom: 1px solid grey;
    text-align: center;
}

.team-row {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: 1px solid grey;
    max-width: 100%;

    /*Altezza momentanea*/
    min-height: 200px;
}

.third-section {
    display: flex;
    max-width: 1000px;
    margin: auto;
 
    /*Altezza momentanea*/
    min-height: 630px;
}

.partnership {
    display: flex;
    margin-top: 150px;
    border: 1px solid grey;
}

.fourth-section {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    margin-top: 170px;
    border: 1px solid grey;
    /*Altezza momentanea*/
    min-height: 1720px;
}

.operation-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.square {
    max-width: calc(100% / 3);
    min-height: 570px;
    justify-content: space-between;
}





/*misura per la fine già scritta*/
/*footer {
    max-width: 1200px;
    min-height: 570px;
}*/